ENV_NAME=local
AWS_REGION_NAME=eu-west-3
DYNAMO_TABLE=votre-table-dynamo
AWS_PROFILE=votre-profil-aws
MISTRAL_API_KEY=votre-clé-mistral

# TELEGRAM BOT
TELEGRAM_BOT_TOKEN=votre-token-bot-telegram
TELEGRAM_CHAT_ID=votre-id-chat-telegram
TELEGRAM_API_URL=https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}
